<div class="container">
    <h1 class="mt-3">Edit Blog Post</h1>
    
    <ng-container *ngIf="blogPost;else notFound">
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mt-2">
                <div class="mt-3">
                    <label class="form-label" for="blogPostId">BlogPost Id</label>
                    <input type="text" disabled
                    id="blogPostId"
                    class="form-control"
                    name="blogPostId"
                    value="{{blogPost.id}}" />
                </div>
                <div class="mt-3">
                    <label class="form-label" for="title">Title</label>
                    <input type="text"
                    id="title"
                    class="form-control"
                    name="title"
                    [(ngModel)]="blogPost.title" />
                </div>
                <div class="mt-3">
                    <label class="form-label" for="title">Description</label>
                    <input type="text"
                    id="description"
                    class="form-control"
                    name="description"
                    [(ngModel)]="blogPost.description" />
                </div>
                
                <div class="mt-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea 
                    name="content" 
                    id="content" 
                    cols="30" 
                    rows="10" 
                    class="form-control"
                    [(ngModel)]="blogPost.content"
                    ></textarea>
                </div>
    
                <div class="mt-3">
                    <label for="imageUrl" class="form-label">Image</label>
                    <input 
                    type="text" 
                    id="imageUrl" 
                    name="imageUrl" 
                    class="form-control"
                    [(ngModel)]="blogPost.imageUrl"
                    >
                </div>
    
                <div class="mt-3">
                    <label for="publishedDate" class="form-label">Published Date</label>
                    <input 
                    type="date" 
                    id="publishedDate" 
                    name="publishedDate" 
                    class="form-control"
                    value="{{blogPost.publishedDate}}"
                    [ngModel]="blogPost.publishedDate | date: 'yyy-MM-dd'"
                    (ngModelChange)="blogPost.publishedDate = $event"
                    >
                </div>
    
                <div class="mt-3">
                    <label for="author" class="form-label">Author</label>
                    <input 
                    type="text" 
                    id="author" 
                    name="author" 
                    class="form-control"
                    [(ngModel)]="blogPost.author"
                    >
                </div>
    
                <div class="form-check mt-3">
                    <input 
                    class="form-check-input" 
                    type="checkbox" 
                    id="isPublic"
                    name="isPublic"
                    [(ngModel)]="blogPost.isPublic"
                    >
                    <label class="form-check-label" for="flexCheckDefault">
                        Is Public?
                    </label>
                </div>
    
                <div class="mt-3">
                    <label for="categories" class="form-label">Categories</label>
                    <ng-container *ngIf="categories$ | async as categories">
                        <select class="form-control" [(ngModel)]="selectedCategories" name="categories" id="categories" multiple>
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{category.name}}
                            </option>
                        </select>
                    </ng-container>
                </div>
    
                <div class="mt-3 d-flex">
                    <button type="submit" class="btn btn-primary">Save</button>

                    <button type="button" class="btn btn-primary ms-3" (click)="onDelete()">Delete</button>
                </div>

            </div>
        </form>
    </ng-container>

    <ng-template #notFound>
        <div class="alert alert-warning" role="alert">
            Blog Post not found!
        </div>
    </ng-template>

</div>